@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* App base: make electron window fill */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #f1f5f9;
}

/* 隐藏滚动条但保留滚动能力 */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}